/*CSS for all pages*/
body {
  background: #DADED4;
}

h1, h2, h3, p{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 18px;
}

h3{
  margin: 10px 0;
}


/*navigation bar for all three pages*/
#main-navbar {
  font-family: 'Lilita One', cursive;
  font-size: 20px;
  background-color: #4D774E;
  overflow: hidden;
  width: 100%;
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #9DC88D;
  text-decoration-thickness: 5px;
}
#onpage {
  background-color: #9DC88D;
}

/*Fixed page layout for page 1 and page 2*/
#wrapper {
	width: 960px;
	margin: 0 auto;
}

#main {
  background-color: #FAF9F6;
	float: left;
	width: 100%;
	margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 15px;
	outline: 2px dashed pink;
}


/*CSS for page 2*/
#main-page2 {
  background-color: #FAF9F6;
	width: 100%;
	margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 60px 30px;
	outline: 2px dashed pink;
  width: 816px;
  height: 1056px;
  font-size: 11px;
  line-height: 1;
}

#profile-picture{
  width: 10em;
  margin-top: 5%;
  margin-left: 42px;
}

.centered{
  text-align: center;
}

.border{
  border-top: 1px solid black;
  padding-top: 10px;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clear{
  clear: both;
}

   
/*Fluid page layout for page 3 and other CSS*/
#main-fluid {
	float: left;
	width: 90%;
	margin: 5% 5% 0 5%;
	outline: 2px dashed #0053ae;
	 }
   
#column1-fluid {
  clear: both;
	float: left;
	width: 43%;
	margin: 0 2% 5% 5%;
	outline: 2px dashed #0053ae;
	 }
#column2-fluid {
	float: left;
	width: 43%;
	margin: 0 5% 5% 2%;
	outline: 2px dashed #dd0009;
}

table{
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

td, th {
	border: 1px solid;
  text-align: center;
  }

table th{
  padding: 10px;
  background-color: #9DC88D;
  border: 0px;
}

table td{
  padding: 8px;
}

.row1{
  background-color: #F8F8F8;
} 

.row2{
  background-color: #68B187;
}

tr:hover td{
  background-color: #FFF1CB;
} 

footer{
  clear: both;
  background-color: #4D774E;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
  text-align: center;
  color: #fff;
}